<h1>Approved Rentals</h1>
<table class='table'>
  <thead>
    <th>Cat Name</th>
    <th>Start Date</th>
    <th>End Date</th>
  </thead>
  <tbody>
    <% @rentals.select{|r| r.status == "APPROVED" && r.end_date > Time.now}.each do |rental| %>
      <tr >
        <td><%= link_to(rental.cat.name, rental.cat) %></td>
        <td><%= rental.start_date %></td>
        <td><%= rental.end_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
