<h1>Rentals</h1>
<table class='table'>
  <thead>
    <th>Cat Name</th>
    <th>Start Date</th>
    <th>End Date</th>
  </thead>
  <tbody>
    <% @rentals.each do |rental| %>
      <tr >
        <td><%= rental.cat.name %></td>
        <td><%= rental.start_date %></td>
        <td><%= rental.end_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
